@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
body {
    background-color: white;
    background-size: cover;
    margin: 0 auto;
    scroll-behavior: smooth;
}


/*-----------------------HERO-NAVBAR----------------------*/

.hero {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./images/photo-1480365334925-girl-camera.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero h1 {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: black;
}

.neons {
    margin-top: 0;
    text-align: center;
}

.neons h2 {
    font-size: 80px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }
    to {
        color: black;
        text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: url(https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80);
    overflow-y: hidden;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 60px;
    color: rgb(7, 7, 7);
    display: block;
    transition: 0.3s;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: bolder;
}

.overlay a:hover,
.overlay a:focus {
    color: rgb(35, 64, 70);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.burger {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(7, 7, 7);
    justify-content: flex-start;
}

.burger:hover {
    color: rgb(35, 64, 70);
}

.burger h1 {
    text-align: center;
}


/*--------------------------------SEARCH-BUTTON-----------------------------------*/

.search-btn {
    border: 3px solid rgb(208, 203, 203);
    background-image: url(https://images.unsplash.com/photo-1475156366402-ffdc49dd371f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1567&q=80);
    border-radius: 10px;
    display: block;
    width: 229px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 20px;
    text-decoration: none;
    color: rgb(77, 74, 74);
    cursor: pointer;
    text-align: center;
}

.search-btn:hover,
a:hover {
    color: rgb(35, 64, 70);
}

a {
    text-decoration: none;
    color: rgb(77, 74, 74);
}

.btn-page {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}


/*-----------------------SEARCH-BOX----------------------*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 200px;
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    background-image: url(https://images.unsplash.com/photo-1475156366402-ffdc49dd371f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1567&q=80);
}


/*-----------------------GALLERY-IMAGE----------------------*/

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#images img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    flex: 1 auto;
    transition: all 0.5s ease;
}

#images img:hover {
    z-index: 300;
    transform: scale(1.2);
}

ul {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


/*---------------------LIGHTBOX---------------------*/

#lightbox {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.938);
    opacity: 1;
    z-index: 1;
    transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -webkit-transition: opacity 0.8s ease-in-out;
}

#lighbox img {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
}

.hide {
    opacity: 0 !important;
    pointer-events: none !important;
}

#lightboxClose {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

#lightboxClose:hover {
    color: rgb(106, 104, 104);
}

#Arrows {
    display: flex;
    justify-content: space-between;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
}

#Arrows i {
    background-color: rgba(255, 255, 255, .25);
    color: #1C1D21;
    cursor: pointer;
    height: 30px;
    padding: 15px;
    transition: background-color .5s, color .5s;
}

#Arrows i:first-of-type {
    padding-right: 20px;
}

#Arrows i:last-of-type {
    padding-left: 20px;
}

#Arrows i:hover {
    background-color: rgba(28, 29, 33, .75);
    color: #EEEFF7;
}


/*----------------ABOUT-PAGE------------------*/

.about-body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    align-items: center;
    background: url(./images/photopageabout.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 37px -10px rgba(0, 0, 0, 0.75);
    height: 620px;
    width: 360px;
    text-align: center;
    background-color: rgba(5, 5, 5, 0.671);
    border-radius: 10px;
}

.flex-item2 {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin-top: 1rem;
    background-color: rgb(56, 47, 48);
    align-self: center;
    background-image: url(./images/photo-1480365334925-girl-camera.jpeg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-item3 {
    align-self: center;
    margin-top: 30px;
}

.flex-item3 p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 25px;
    color: rgb(246, 244, 246);
    text-shadow: 0 1px 3px #1e1e1e87;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

p.name {
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}