@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
body {
    background: url(./images/whitetexture.jpeg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


/*-----------------------HERO-NAVBAR----------------------*/

.hero {
    /* Sizing */
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    background-image: url('https://pngimg.com/uploads/cloud/cloud_PNG24.png'), url(./images/photo-1480365334925-girl-camera.jpeg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
    animation: 100s para infinite linear;
}

@keyframes para {
    100% {
        background-position: -5000px 20%, 0;
    }
}

.hero h1 {
    /* Text styles */
    font-size: 10em;
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: white;
}

.hero h2 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: rgb(248, 246, 246);
    font-size: 3em;
}

#search-button {
    border: 3px solid rgb(208, 203, 203);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: block;
    width: 229px;
    padding: 1em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

#search-button:hover {
    color: rgb(125, 108, 85);
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(253, 251, 251, 0.329), rgba(248, 247, 247, 0.336)), url(./images/whitetexture.jpeg);
    overflow-y: hidden;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 60px;
    color: rgb(7, 7, 7);
    display: block;
    transition: 0.3s;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: bolder;
}

.overlay a:hover,
.overlay a:focus {
    color: rgb(125, 108, 85);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.burger {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    margin-left: 30px;
    margin-top: 10px;
    color: rgb(208, 203, 203);
    justify-content: flex-start;
}

.burger:hover {
    color: rgb(125, 108, 85);
}

.burger h1 {
    text-align: center;
}


/*-----------------------SEARCH-BOX----------------------*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20rem;
}

input {
    /* display: block; */
    width: 200px;
    padding: 1em;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    background-color: rgb(208, 203, 203);
}


/*-----------------------GALLERY-IMAGE----------------------*/

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
}

img {
    height: 200px;
    max-width: 250px;
    padding: 10px;
    flex: 1 auto;
    transition: all 0.5s ease;
}

img:hover {
    z-index: 300;
    transform: scale(1.2);
}


/*----------------ABOUT-PAGE------------------*/

.about-body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    align-items: center;
    background: url(./images/camera.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 37px -10px rgba(0, 0, 0, 0.75);
    height: 550px;
    width: 360px;
    text-align: center;
    background-color: rgba(5, 5, 5, 0.671);
    border-radius: 10px;
}

.flex-item2 {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 1rem;
    background-color: rgb(56, 47, 48);
    align-self: center;
    background-image: url(./images/camera\ girl.jpeg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-item3 {
    align-self: center;
    margin-top: 30px;
}

.flex-item3 p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 25px;
    color: rgb(246, 244, 246);
    text-shadow: 0 1px 3px #1e1e1e87;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: .5rem;
    margin-bottom: 1rem;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

p.name {
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.flex-item4 {
    background-color: rgba(59, 58, 59, 0.685);
    margin-top: auto;
    padding: 10px;
    color: rgb(246, 246, 246);
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: rgb(252, 249, 249);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    background-color: rgba(11, 11, 11, 0.712);
}

.pagination a:hover {
    color: rgb(125, 108, 85);
}